
.container-fluid{
    align-content: center;
}

#header{
   background-color: #BFD8D2;
}

#heading{
    text-align: center;
    font-weight: bold;
    font-family:sans-serif;
}

#headerLine{
    padding: 0px;
    margin-top: 0px;
    width:100px;
    height: 5px;
    background-color:#DF744a; 
}