<!DOCTYPE html>
<html>
    <head>
        <title>Secure Authentication and Tracking</title>
        {% load staticfiles%}
        <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css'%}" type="text/css"/>
        <link rel="stylesheet" href="{% static 'home/chartist/chartist.min.css'%}"/>    
        <link href="{% static 'home/css/custom.css'%}" rel="stylesheet"/> 
    </head>
    <body>
        <div class="container-fluid" id="header">
            <h3 id="heading"> Last 7 Days Data </h3>
            <hr id="headerLine">
            <div class="ct-label ct-chart"></div>
        </div> 
        <div class="container-fluid">
            <div class ="ct-state-chart ct-label"></div> 
        </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="{% static 'home/myjs/overview.js' %}"></script>
    </body>
</html>
