<html>
    <head>
        <title>Secure Authentication and Tracking</title>
        {% load staticfiles%}
        <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css'%}" type="text/css"/>
        <link rel="stylesheet" href="{% static 'home/chartist/chartist.min.css'%}"/>
    </head>
    <body>
         <script type="text/javascript">
           var labels = [];
           "{% for p in object_list %}"
                labels.push("{{p.id}}");
           "{% endfor %}"
            var series = [];
           "{% for p in object_list%}"
                series.push("{{p.count_data}}");
           "{% endfor %}"
        </script>
    <!-- Scripts -->
    <script src="{% static 'home/chartist/chartist.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'home/myjs/state.js' %}"></script>
    </body>
</html>
