<!DOCTYPE html>
<html>
    <head>
        <title>Secure Authentication and Tracking</title>
        {% load staticfiles%}
        <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css'%}" type="text/css"/>
        <link rel="stylesheet" href="{% static 'home/chartist/chartist.min.css'%}"/>
    </head>
    <body>
         <script type="text/javascript">
         days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
           var labels = [];
           var i = 0;
           "{% for p in object_list%}"
                var dt = new Date("{{p.id}}");
                labels.push(days[dt.getDay()]); //getting day of week
                console.log(days[dt.getDay()]);
           "{% endfor %}"
           
           
            var series = [];
           "{% for p in object_list%}"
                series.push("{{p.count_date}}");
           "{% endfor %}"
        </script>
    <!-- Scripts -->
    <script src="{% static 'home/chartist/chartist.js' %}" type="text/javascript"></script>
    <script src="{% static 'home/chartist/chartist.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'home/myjs/weekly.js' %}"></script>
    </body>
</html>
